<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />


<body>
    <div class="padding">
    <div class="col-md-8">
        <!-- Column -->
        <div class="card"> <img class="card-img-top" src="https://i.imgur.com/K7A78We.jpg" alt="Card image cap">
            <div class="card-body little-profile text-center">
                <div class="pro-img"><img src="./assets/20211230_090850.jpg" alt="user"></div>
                <h3 class="m-b-0">Paula Quiroga</h3>
                <div class="misi">
                    <p>Misión, Visión y Valores</p>
                </div>
                
                <p>Diseño Web/Grafico &amp; Desarrollo Integral</p> 
                <p>Project Manager &amp; Analytics/System</p> 
                <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Contacto</a>
                <div class="text">
                <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">10434</h3><small>Proyectos</small><br>
                        <h3>Finalizados</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">4340</h3><small>Diseños</small>
                    <h3>Exclusivos</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">5454</h3><small>Referencias</small>
                    <h3>Empresariales</h3>
                    </div>
                    <div>
                        <p>• C • C++ • JAVA • JAVASCRIPT • PHP • ANGULAR • TYPESCRIPT • MYSQL • FIREBASE • MONGO DB •</p>
                    </div>
                    <div class="what">
                       <!-- <img src="https://w7.pngwing.com/pngs/194/809/png-transparent-logo-whatsapp-watercolor-splash-thumbnail.png" alt="">-->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contacto">
    <div><p>github:Ronie70</p></div> 
    <div><p>heroku:@Ronie70</p></div>
    <div><p>ing:@graficascorpions</p></div>
    <div><p>paularonie70@gmail.com</p></div>
 </div>
 <div class="grid-item3">
    <button class="btn" routerLink="../inicio">Menu</button>
  </div>
</body>