<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:ital@1&display=swap"
  rel="stylesheet"
/>

<div class="wrapper">
  <div class="wrapper2">
    <div class="grid-item2">
      <button class="btn" routerLink="../inicio">Menu</button>
  

      <div>
      <img class="btn2" routerLink="listado" src="./assets/btnmas.jpg">
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
