
<div class="chatIconConteiner" *ngIf="usuarioActual && !mostrarChat" (click)="mostrarChat=true">
  <img src="../assets/chat.png" class="chatIcon">
</div>
<div class="card text-center cardConteiner" *ngIf="usuarioActual && mostrarChat">

  <div class="card-header">
    CHAT Creative
    <div class="closeIcon" (click)="mostrarChat=false">X</div>
  </div>
  <div class="card-body">
    <div  style=" overflow:auto;max-height:380px; max-width:300px;" id="contenedorDeMensajes" class="contenedorDeMensajes h-100">
      <p *ngFor="let mensaje of mensajes" class="msj p-2"
      [ngClass]="(usuarioActual==mensaje.emisor)? 'enviado' : 'recibido'">
        {{mensaje.texto}}
      </p>
    </div>

  </div>
  <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
    <input type="text" class="form-control" placeholder="Ingresa tu mensaje" [(ngModel)]="nuevoMensaje"
    [ngModelOptions]="{standalone: true}">
      <div class="input-group-append" (click)="enviarMensaje()">
        <span class="input-group-text" id="basic-addon2">
          <img class="imgEnviar" src="https://cdn-icons-png.flaticon.com/512/786/786407.png" width="20px">
        </span>
    </div>
  </form>
</div>
