
* {
  font-family: Lato;
}

.container h1 {
  color: #333;
  text-align: center;
}

.numbers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}

.numbers-container button {
  cursor: pointer;
  background: #f45c41;
  border: 0;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  height: 60px;
  margin-bottom: 10px;
  text-align: center;
  width: 60px;
}

.message {
  border-radius: 20px;
  box-shadow: 5px 5px 20px #cbcdd3;
  margin: 0 auto;
  height: 200px;
  padding: 20px;
  text-align: center;
  width: 50%;
  /* Alinear texto verticalmente*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.message > p {
  color: #fcfcfc;
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.error-message {
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.error-message > p {
  color: #cf0404;
}

.succes-message {
  background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
}

.succes-message > p{
  color: #3e6a29;
}
